body {
  font-family: "Arial", sans-serif;
}

h2 {
  color: #00bfff;
}

h3 {
  color: #228b22;
}

#contact {
  background-color: #a9a9a9;
  padding: 2%;
}
<head>
<style>
 input.MyButton {
 width: 300px;
 padding: 20px;
 cursor: pointer;
 font-weight: bold;
 font-size: 200%;
 background: #32cd32;
 color: #ffffff;
 border: 1px solid #3366cc;
 border-radius: 10px;
}
 input.MyButton:hover {
 color: #32cd32;
 background: #000;
 border: 1px solid #fff;
}
</style>
